/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root*/

:root{

    font-size: 16px;
    
    /*Colors*/
    --color-primary: #FF9614;
    --color-secondary: #7B69A2;
    --color-background: #F7F6F8;
    --color-grey: #808080;
    --color-dark-purple: #4E3969;
    --color-white: #fff;

    /*Spacing*/
    --spacing-l: 24px;
    --spacing-m: 16px;
    --spacing-s: 8px;

    /*Font Size*/
    --font-size-s: 0.5rem;
    --font-size-m: 1rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.5rem;
    --font-size-big: 3rem;
    
}

/*Generics*/
body{
    font-family: 'Montserrat', sans-serif;
    color: black;
}

header{
    padding: var(--spacing-m);
}

ul{
    list-style-type: none;
}

h1{
    font-family: 'Nerko One', cursive;
    color: var(--color-primary);
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-big);
    text-shadow: 2px 2px black;
}

h4{
    margin-bottom: var(--spacing-s);
}

hr{
    margin: var(--spacing-m) 0;
}

i{
    width: 16px;
    height: 16px;
}




/*Utils*/

.container{
    padding: var(--spacing-s);
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col{
    padding: 0 1rem;
    flex-basis: calc(100% / 3);
}

.icon-primary{
    color: var(--color-primary);
}

.bold{
    font-weight: bold;
}

.flex{
    display: flex;
}

.bg-color-main{
    background-color: var(--color-background);
}

.bg-color-primary{
    background-color: var(--color-primary);
}

.bg-color-secondary{
    background-color: var(--color-secondary);
}

.bg-color-white{
    background-color: var(--color-white);
}

.text-color-grey{
    color: var(--color-grey);
}

.gap-8{
    gap: var(--spacing-s);
}

/*Receipt Header*/

.header-receipt{
    margin-bottom: var(--spacing-m);
}

.header-receipt-name-rating{
    justify-content: space-between;
    align-items: center;
}

.header-receipt-name-rating .btn{
    text-decoration: none;
    color: var(--color-white);
    padding: var(--spacing-s) var(--spacing-m);
    border-radius: 25px;
}

.header-receipt-name{
    font-size: var(--font-size-l);
    color: var(--color-dark-purple);
    
}

.header-receipt-name span{
    display: none;
}

.header-receipt-rating{
    align-items: center;
}

/*Receipt video and info*/

.receipt-info{
    padding: var(--spacing-m);
}

.receipt-info-header p{
    padding: var(--spacing-s);
    border-radius: 8px;
    color: var(--color-white);
}

.receipt-info-header p:last-child{
    color: black;
}

.receipt-info-header{
    padding: var(--spacing-m);
    margin-bottom: var(--spacing-m);
}

.receipt-info-header-up{
    justify-content: space-between;
    align-items: center;
}

.receipt-info-header-bottom{
    align-items: baseline;
}

.receipt-info-header a {
    color: var(--color-primary);
    text-decoration: none;
}

.row.receipt-info-list{
    flex-direction: column;
}

.receipt-info-list li{
    margin-bottom: var(--spacing-m);
}