/*tablet 768px*/

@media screen and (min-width: 768px){
    h1{
        text-align: left;
    }

    .container{
        padding: var(--spacing-m);
    }

    .header-receipt-name span{
        display: inline-block;
    }
}