/*tablet 768px*/

@media screen and (min-width: 768px){
    h1{
        text-align: left;
    }

    .container{
        padding: var(--spacing-m);
    }

    .header-receipt-name{
        font-size: var(--font-size-xl);
    }

    .header-receipt-name span{
        display: inline-block;
    }

    .row.receipt-info-list{
        flex-direction: row;
    }

    .receipt-info-list li{
        margin-bottom: var(--spacing-l);
    }

    .social-icons .icon{
        padding: var(--spacing-s) var(--spacing-l);
        border-radius: 16px;
    }

    .banner{
        display: block;
    }
}